@model IEnumerable<MVCAppSGE.Models.Calificacion>

@{
    ViewData["Title"] = "Calificaciones";
}

<h1>Calificaciones</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEvaluacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEvaluacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
